a:after {
  border-radius: 1rem;
  border-top: 0.1rem solid;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.14rem;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
}
#boton {
  float: right;
  margin-right: 35px;
}
.switchBtn {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 35px;
}
.switchBtn input {
  display: none;
}
.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ab93ab;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 8px;
  color: #542750;
}
.slide:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 78px;
  bottom: 4px;
  background-color: #f8dff8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slide {
  background-color: #4fa3ab;
  padding-left: 40px;
}
input:focus + .slide {
  box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -20px;
}
.slide.round {
  border-radius: 34px;
}
.slide.round:before {
  border-radius: 50%;
}
img {
  width: 250px;
  height: 200px;
  display: flex;
}
body {
  background-image: url('../assets/tormenta.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #542750;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  background-color: #275054;
}
nav {
  display: inline;
  justify-content: center;
}
nav h1 {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 40px;
  font-size: 3.6rem;
}
nav ul {
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-left: 2rem;
  list-style-type: none;
}
nav ul li {
  list-style: none;
  padding-left: 2rem;
  background-image: url('../assets/icono_tulu-nobg.png');
  background-position: 0, 0;
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
}
li {
  text-align: center;
  height: 50px;
  width: 15%;
  margin: 5px 50px;
  font-size: 2.4rem;
  padding: 10px 10px;
  border: solid 2px black;
  border-radius: 8px;
}
canvas {
  border: 1px solid black;
  display: block;
  margin: auto;
  padding: 0;
}
