img {
    width: @ancho;
    height: @alto;
    display:  flex;
}

body {
    background-image: url('../assets/tormenta.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: @colorfuente;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: @colorbotones;
}

nav {
    display: inline;
    justify-content: center;
}

nav h1 {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 40px;
    font-size: @grande;
}

nav ul{
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-left: 2rem;
    list-style-type: none;
  }

  nav ul li {
    list-style: none;
    padding-left: 2rem;
    background-image: url('../assets/icono_tulu-nobg.png');
    background-position: 0, 0;
    background-size: 2.5rem 2.5rem;
    background-repeat: no-repeat ;
  }

  li {
    text-align: center;
    height: 50px;
    width: 15%;
    margin: 5px 50px;
    font-size: @mediano;
    padding: 10px 10px;
    border: solid 2px black;
    border-radius: 8px;
  }

  canvas {
    border: 1px solid black;
    display: block;
    margin: auto;
    padding: 0;
  }

  #main-canvas {
    background-color: white;
  }

//   